
@tailwind base;
@tailwind components;
@tailwind utilities;

/* DEBUG */
/* div {
    border-width: 1px;
    border-color: white;
    border-radius: 0.5rem;
    padding: 0.1rem
} */
:root {
    background: linear-gradient(#02020554, rgb(228, 228, 228), rgb(255, 255, 255));
}

html {
	/* transition: all 60s ease-in-out; */

    background: rgb(228, 228, 228);
    font-family: "Share Tech Mono", monospace;
}

body {
	color: #020205;
}



.cutive-mono {
	font-family: "Cutive Mono", monospace;
}
.sharetech-mono {
	font-family: "Share Tech Mono", monospace;
}

.main-div {
    height: 100vh;
}

.home-title {
	font-size: 10rem;
}

/* HOVERS */
.nav-btn {
    padding: 0.2rem;
    border-radius: 0.25rem;
	transition: all 0.5s ease-in-out;
}
.nav-btn:hover {
	/* background: #bbe9db; */
	padding-right: 0.5rem;
	padding-left: 0.3rem;
	opacity: 100%;
	filter: drop-shadow(0 30px 15px rgba(0, 0, 0, 0.288))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	box-shadow: 4px 4px 0px 0px #ff5f5f;
    background: white;
    color: black
}

.bring-up {
	opacity: 95%;
	filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
		drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
	box-shadow: 6px 6px 1px 1px #756c83b6;
	/* box-shadow: 8px 8px 0px 0px #ff5f5f; */
    border-radius: 0.25rem;
	transition: all 0.3s ease-out;
}
.bring-up:hover {
	opacity: 100%;
	filter: drop-shadow(0 30px 15px rgba(0, 0, 0, 0.288))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	box-shadow: 12px 12px 0px 0px #ff5f5f;
	/* box-shadow: 12px 12px 2px 1px #f3818165; */
}

/* ICONS */
.elixir-color {
    border-radius: 0.25rem;
    transition: all 0.5s ease-in-out;
}
.elixir-color:hover {
	color: #f1e7e7;
	background: #4f3b78;
    transition: all 0.5s ease-in-out;
}

.python-color {
    border-radius: .25rem;
    transition: all 0.5s ease-in-out;
}
.python-color:hover {
	color: #0092ca;
	background: #f0d43a;
}

.ruby-color {
    border-radius: .25rem;
    transition: all 0.5s ease-in-out;
}
.ruby-color:hover {
    color: #d31d1d;
    background: #ffffff
}

.react-color {
    border-radius: .25rem;
    transition: all 0.5s ease-in-out;
}
.react-color:hover {
    background: #0092ca;
    color: #353535;
}

.aws-color {
    border-radius: .25rem;
    transition: all 0.5s ease-in-out;
}
.aws-color:hover {
    background: #1e2850;
    color: #e28154;
}

.sql-color {
    border-radius: .25rem;
    transition: all 0.5s ease-in-out;
}
.sql-color:hover {
    background: #3d51a2;
    color: #d1cfcf;
}

/* COLORS */

.first-color { 
	background: #fdfdfd; 
}

.font-first-color { 
	color: #fdfdfd 
}

.second-color { 
	background: #ff5f5f;
    border-color: #ff5f5f;
}

.font-second-color { 
    color: #ff5f5f;
}

.fourth-color { 
	background: #020205; 
}
.font-fourth-color { 
	color: #020205; 
}
