@tailwind base;
@tailwind components;
@tailwind utilities;

/* dbg */
/* div {
    border-width: 1px;
    border-color: white;
    border-radius: 0.5em;
    padding: 0.1em
} */

:root {
	--foreground-rgb: 0, 0, 0;
	--background-start-rgb: 214, 219, 220;
	--background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
	:root {
		--foreground-rgb: 255, 255, 255;
		--background-start-rgb: 0, 0, 0;
		--background-end-rgb: 0, 0, 0;
	}
}

.home-title {
	font-size: 10em;
    background: rgb(151,203,169);
    background: linear-gradient(90deg, rgba(151,203,169,1) 0%, rgba(109,79,171,1) 100%);
}

.banner-title {
    background: rgb(151,203,169);
    background: linear-gradient(90deg, rgba(151,203,169,1) 0%, rgba(109,79,171,1) 100%);
}

.nav-btn {
	padding-right: 0.1em;
    padding-left: 0.2em;
	color: #bbe9db;
	background: #4f3b78;
	transition: all 0.5s ease-in-out;
}
.nav-btn:hover {
	background: #bbe9db;
	padding-right: 0.5em;
	padding-left: 0.3em;
	color: #ff5f5f;
	opacity: 100%;
	filter: drop-shadow(0 30px 15px rgba(0, 0, 0, 0.288))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	box-shadow: 4px 4px 0px 0px #ff5f5f;
}

.bring-up {
	opacity: 95%;
	filter: drop-shadow(0 4px 3px rgb(0 0 0 / 0.07))
		drop-shadow(0 2px 2px rgb(0 0 0 / 0.06));
	box-shadow: 6px 6px 1px 1px #756c83b6;
	/* box-shadow: 8px 8px 0px 0px #ff5f5f; */

	transition: all 0.3s ease-out;
}
.bring-up:hover {
	opacity: 100%;
	filter: drop-shadow(0 30px 15px rgba(0, 0, 0, 0.288))
		drop-shadow(0 8px 5px rgb(0 0 0 / 0.08));
	box-shadow: 12px 12px 0px 0px #ff5f5f;
	/* box-shadow: 12px 12px 2px 1px #f3818165; */
}

.first-color {
	background: #f1e7e7;
}

.second-color {
	background: #bbe9db;
}

.third-color {
	background: #ff5f5f;
}

.fourth-color {
	background: #0b8457;
}
.fifth-color {
	background: #4f3b78;
}

.font-first-color {
	color: #f1e7e7;
}

.font-second-color {
	color: #bbe9db;
}

.font-third-color {
	color: #ff5f5f;
}

.font-fourth-color {
	color: #0b8457;
}

.font-fifth-color {
	color: #4f3b78;
}

.elixir-color {
	color: #f1e7e7;
	background: #4f3b78;
    transition: all 0.5s ease-in-out;
}
.elixir-color:hover {
	background: #f1e7e7;
	color: #4f3b78;
    transition: all 0.5s ease-in-out;
}

.python-color {
	color: #f1e7e7;
	background: #4f3b78;
    transition: all 0.5s ease-in-out;
}
.python-color:hover {
	color: #0092ca;
	background: #f0d43a;
}

.ruby-color {
	color: #f1e7e7;
	background: #4f3b78;
    transition: all 0.5s ease-in-out;
}
.ruby-color:hover {
    background: #dc2f2f;
}

.react-color {
	color: #f1e7e7;
	background: #4f3b78;
    transition: all 0.5s ease-in-out;
}
.react-color:hover {
    background: #0092ca;
    color: #353535;
}
body {
    color: #f1e7e7;
}
html {
	/* transition: all 60s ease-in-out; */
	height: 100vh;
    background: rgb(151,203,169);
    background: linear-gradient(270deg, rgba(151,203,169,1) 0%, rgba(109,79,171,1) 100%);
	/* background-color: #97cba9; */
}
